<h1>New Entry</h1>

<form action="/entries" method="post" enctype="multipart/form-data">
  <%= csrf_meta_tags %>

  <label>Title</label>
  <input type="text" name="title">

  <label>Description</label>
  <textarea name="description"></textarea>

  <label>Occurred On</label>
  <input type="date" name="occurred_on">

  <label>Upload Image</label>
  <input type="file" name="image">

  <input type="hidden" name="place_id" value="<%= params["place_id"] %>">

  <button type="submit">Save</button>
</form>
