<h1>Places</h1>
<a href="/places/new" class="outline-button">New Place</a>


<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>